<h2 class= "heading">Log in</h2>
<div class=" login_form container text-center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="imgcontainer">
    
    <%= image_tag("img_avatar.png", :alt => "Avatar", class: "avatar" ) %>
  </div>
  <br>
  <div>
    <%= f.label :email, class: "label_font"%><br />
    <%= f.email_field :email, autofocus: true, class: "field" %>
  </div>

  <div >
    <%= f.label :password ,class: "label_font"%><br />
    <%= f.password_field :password, autocomplete: "off",class: "field" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" , class: "field btn btn-success", style: "font-size: 20px"%>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>