<div class="row">	
	<% @photos.first(25).each do |photo| %>
	  <div class="col-md-4">
	  	<div class="thumbnail">
			  <%= image_tag photo.image,class: 'image-size' %>
			  <div>
				  <p class="image-text">
				  	<%= User.find_by_id(Album.find_by_id(photo.album_id).user_id).first_name %>
				  	<%= User.find_by_id(Album.find_by_id(photo.album_id).user_id).last_name %>
				  </p>
				  <p class="image-text">
				  	<% album_id = Album.find_by_id(photo.album).id %>
				  	<%= Album.find_by_id(photo.album).created_at.strftime("%d/%m/%Y") %><br/>
				  	<%= link_to Album.find_by_id(photo.album).title, photo.album %>
				  </p>
			  </div>
			</div>
		</div>
	<% end %>
</div>

		  
	

		
		
		