<% if user_signed_in? %>
 	<div class="row" >
		<div class= "album_menues">
		  <ul class="list-unstyled ul_menu">
		    <li>
		      <%= link_to "New Album", new_album_path %>
		     </li>
		     <li>
			    <ul class="list-inline ">
			      <li style="margin-left:20px;"> My Albums =>                         
			      </li>
			        <% @albums.each do |album| %>
			          <li>
				          <% if album.user_id == current_user.id %>

							  		<%= link_to album.title, album %>
							  		 <%= link_to "delete", album_url(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style:"margin-top: -7px;"%>
							  		 <br>
					  				<% else %>
				  	      <% end%>
				        </li>
				      <% end %>
				  </ul>
			  </li>
		  </ul>
		</div>
  </div>
<% else %>
  <div class="row" >
    <div class= "home_album_menues">
	    <ul class="list-unstyled ul_menu">
			  <% @albums.each do |album| %>
			  <li>
			  <%= link_to album.title, album%>
			  </li>
			  <br>
			  <% end %>
		  </ul>
	  </div>
  </div>
<% end %>
