<h2 class="heading">New Album</h2>
<div class=" login_form container text-center">
	<%= form_for @album do |f| %>
	  <div>
	    <%= f.label :title,class: "label_font" %> <br>
	    <%= f.text_field :title,:required => true,class: "field"%>
	  </div>
	  <div>
	    <%= f.submit 'Create Album',class: "field btn btn-success", style: "font-size: 20px" %>
	  </div>
	<% end %>
</div>