<% if user_signed_in? %>
	<h1><%= @album.title %></h1>
  <div>
		<p>
		 <%= link_to 'Upload new photo', new_album_photo_path(@album) %>
		</p>
		<p>
			<% @album.photos.each do |photo| %>
			  <%= link_to [@album, photo] do %>
			    <div class="row">	
		  			<div class="col-md-4">
					    <div class="thumbnail">
					      <%= image_tag photo.image, class: 'image-size'%>
					    <div>
					      <p class="image-text"><%= photo.tagline_photo %>
					      </p>
						    <p class="image-text">
						      <%= (photo.created_at).strftime("%d/%m/%Y") %>
						    </p>
						    <p class="image-text">
						      <%= User.find_by_id(@album.user_id).first_name %>
						      <%= User.find_by_id(@album.user_id).last_name %>
						    </p>
						    <p class="image-text">
                  <% if current_user.id == @album.user_id %>
						        <%= link_to "delete", album_photo_url(@album,photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style:"margin-top: -7px"%>

						      <% end %>
						      </p>
						    </div>
						  </div>
		        </div>
		      <% end %>
		 <% end %>
		</p>
	</div>
<% else %>
	<% @album.photos.each do |photo| %>
		<%= link_to [@album, photo] do %>
		  <div class="row">	
	  	  <div class="col-md-4">
				  <div class="thumbnail">
				    <%= image_tag photo.image, class: 'image-size'%>
				    <div>
				    <p class="image-text">
				      <%= photo.tagline_photo %>
				    </p>
					  <p class="image-text">
					    <%= (photo.created_at).strftime("%d/%m/%Y") %>
					  <p>
					  <p class="image-text">
					    <%= User.find_by_id(@album.user_id).first_name %>
					    <%= User.find_by_id(@album.user_id).last_name %>
					  <p>
					</div>
				</div>
	    </div>
		<% end %>
	<% end %>
<% end %>

