<div class=" login_form container text-center">
  <%= form_for [@album, @photo], html: { :multipart => true } do |f| %>
    <div>
      <%= f.label :tagline_photo,class: "label_font" %>
      <br>
    	<%= f.text_field :tagline_photo,:required => true,class: "field" %>
    </div>
    <div>
      <%= f.label :image,class: "label_font"  %>
      <br>
      <%= f.file_field :image ,class: "field",:required => true%>
    </div>
    <div>
      <%= f.submit 'Upload Photo',class: "field btn btn-success", style: "font-size: 20px" %>
      <br>
      or
      <%= link_to 'Cancel', [@album, @photo] %>
    </div>

  <% end %>
</div>
