.avatar {
    width: 10%;
    border-radius: 50%;
}
.login_form .field{
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.label_font{
	font-size: 20px;
}
.heading{
	text-align: center;
}
.image-size{
  height: 200px !important;
}
.image-text{
	font-size: 20px;
	color:blue;
	text-align:center;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
	color:white !important;
}
.ul_menu li a{
	font-size:20px !important;
	color: black !important;
	margin-left: 20px;
}
.list-inline {
	color: black;
	font-size: 20px;
}
.list-unstyled, .album-list {
	color: #337ab7;
	font-size: 20px;

}
.album-list{
	border-bottom: 2px solid;
}
.album_menues{
	background-color: #ADD8E6;
	height: 70px;
}
.home_album_menues{
	background-color: #ADD8E6;
	height: 40px;
}
}
