<!DOCTYPE html>
<html>
  <head>
    <title>Photoalbum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <li><%= link_to "PHOTO GALLARY", root_path,class: "navbar-brand" %>
          </li>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "All albums", albums_path %>
          </li>
            <% if user_signed_in? %>
        		 <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
        		  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      		<% else %>
      		  <li>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'%>
              </li>
      		<% end %>  
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
      
  </body>
</html>
