<h2 class="heading">Edit <%= resource_name.to_s.humanize %></h2>
<div class=" login_form container text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div>
    <%= f.label :first_name,class: "label_font"  %><br />
    <%= f.text_field :first_name,class: "field"  %>
  </div>
  <div>
    <%= f.label :last_name,class: "label_font"  %><br />
    <%= f.text_field :last_name,class: "field" %>
  </div>

  <div>
    <%= f.label :email,class: "label_font"  %><br />
    <%= f.email_field :email, autofocus: true ,class: "field" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.label :password,class: "label_font"  %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off",class: "field"  %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div>
    <%= f.label :password_confirmation,class: "label_font"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "field"  %>
  </div>

  <div>
    <%= f.label :current_password,class: "label_font"  %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off",class: "field"  %>
  </div>

  <div class="actions">
    <%= f.submit "Update",class: "field btn btn-success", style: "font-size: 20px" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },class: "field btn btn-danger", style: "font-size: 20px", method: :delete %></p>

<%= link_to "Back", :back %>
</div>
