<h2 class="heading">Sign up</h2>
<div class=" login_form container text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div>
    <%= f.label :first_name,class: "label_font" %><br />
    <%= f.text_field :first_name,class: "field" %>
  </div>
  <div>
    <%= f.label :last_name,class: "label_font" %><br />
    <%= f.text_field :last_name,class: "field"%>
  </div>
  <div>
    <%= f.label :email,class: "label_font"%><br />
    <%= f.email_field :email, autofocus: true ,class: "field"%>
  </div>

  <div>
    <%= f.label :password,class: "label_font" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: "field" %>
  </div>

  <div>
    <%= f.label :password_confirmation,class: "label_font" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "field" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class: "field btn btn-success", style: "font-size: 20px" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>